* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.box {
  flex: 1 1;
}

.grey-box {
  min-height: 800px;
  flex: 0 0 400px;
  background: #808080;
  position: relative;
}

.grey-box-numbers {
  font-size: 2rem;
  color: #555555;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.grey-bottom-text {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #555;
}

.text-box {
  display: flex;
  flex-direction: column;
}

.top-text {
  margin-bottom: 1rem;
}

.bottom-text {
  margin-top: auto;
}

.lorem-box {
  display: flex;
  align-items: center;
}

.lorem-text {
  text-transform: uppercase;
  text-align: justify;
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }

  .grey-box {
    width: 400px;
    margin: 0 auto;
  }

  .box {
    padding: 10px;
  }
}

@media (max-width: 400px) {
  .grey-box {
    width: 100%;
  }
}